html {
  font-family: 'Roboto', sans-serif !important;
}

body {
  overflow-x: hidden;

  background-color: #060b11;
}

.container {
  width: 1170px;
  margin: auto;
}

.slider-banner {
  padding-top: calc(1170px * 0.5625);
  width: 1170px;
  margin: auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+45,000000+55,ffffff+100 */
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 55%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 55%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 55%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */

  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+45,000000+55,ffffff+100 */
  &__container {
    position: absolute;
    width: 1170px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
  }
  &__slide {

    //z-index: 1;
    background: none;
    z-index: 1;
    position: relative;
    -webkit-backface-visibility: hidden;
    .banner-item:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 1s ease-in-out;
      z-index: 2;
      opacity: 0;
    }
    &.swiper-slide-prev .banner-item:after {
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(0, 0, 0, 0.8) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(0, 0, 0, 0.8) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(0, 0, 0, 0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#cc000000', GradientType=1); /* IE6-9 */
      opacity: 1;
    }
    &.swiper-slide-next .banner-item:after {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0.8+0,0+100 */
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
      //opacity: 1;
      opacity: 1;
    }
  }
}

.banner-item {
  position: absolute;
  &__img {
    width: 100%;
    z-index: -1;
  }
  &__info {
    position: absolute;
    max-width: 600px;
    bottom: 15%;
    left: 8%;
    padding: 20px 30px;
    background-color: rgba(#000, 0.75);
  }
  &__eng-title {
    font-weight: 500;
    color: #fe4242;
    font-size: 40px;
  }
  &__vi-title {
    font-weight: 300;
    color: #b1b1b1;
    font-size: 26px;
    margin-top: 5px;
  }
  &__quote {
    font-size: 20px;
    color: white;
    font-style: italic;
    margin-top: 15px;
    font-weight: 300;
    margin-left: 35px;
    &::first-letter {
      font-size: 3rem;
      font-weight: 500;
    }
  }
}

.level {
  margin-top: 15px;
  &__item {
    background-color: #cbcbcb;
    width: 15px;
    height: 15px;
    color: black;
    display: inline-block;
    margin-right: 5px;
    &--1 {
      background-color: #007906;
    }
    &--2 {
      background-color: #ff8a00;
    }
    &--3 {
      background-color: #d10000;
    }
  }
}

.header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  height: 65px;
  position: fixed;
  z-index: 99999999;
  width: 100%;

  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  &__item {
    padding-left: 20px;
    padding-right: 20px;
    color: #fffafa;
    font-size: 20px;
    transition: background-color 0.5s;
    &--search {
      flex-grow: 1;
      font-size: 18px;
      font-weight: 400;
    }
    &--open {
      background-color: #cc3333;
    }
    &--has-children {
      cursor: pointer;
      margin: auto;
      height: 65px;
      display: flex;
      align-items: center;
      position: relative;
    }

  }
  &__search {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    width: 100%;
    border-bottom: solid 1px #fffafa;
    &::-webkit-input-placeholder {
      font-style: italic;
      font-size: 16px;

    }
    &:-moz-placeholder {
      font-style: italic;
      font-size: 16px;

    }
    &::-moz-placeholder {
      font-style: italic;
      font-size: 16px;

    }
    &:-ms-input-placeholder {
      font-style: italic;
      font-size: 16px;

    }
  }
  &__profile {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fffafa;
  }
  &__wrap-avatar {
    position: relative;
    padding-top: 45px;
    width: 45px;
    overflow: hidden;
    margin-right: 10px;
  }
  &__avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
  }

}

.logo {
  font-size: 20px;
  color: white;
  font-weight: 500;
  background-color: #cc3333;
  padding: 3px 10px;
  border-radius: 3px;
}

.menu {
  left: 0;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  font-size: 18px;
  font-weight: 400;
  background-color: #cc3333;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  &--open {
    opacity: 1;
    visibility: visible;
  }
  &__item {
    white-space: nowrap;
    padding: 10px 10px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.intro {
  color: #d8d8d8;
  text-align: center;
  &__name {
    color: #cc3333;
  }
  &__slogan {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    font-style: italic;

    border-right: solid 1px #0e151d;
    border-left: solid 1px #0e151d;
  }
  &__wrap {
    border-right: solid 1px #0e151d;
    border-left: solid 1px #0e151d;
    display: flex;
    flex-direction: row;
  }
  &__item {
    padding: 15px 25px;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-right: solid 1px #0e151d;
    .material-icons {
      font-size: 23px;
    }
  }
  &__icon {
    background-color: #cc3333;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  &__description {
    font-size: 17px;
    font-weight: 400;
    line-height: calc(26 / 17);
    color: #d8d8d8;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #0e151d;
}

.section {
  color: #fffafa;
  &__title {
    border-left: solid 1px #0e151d;
    border-right: solid 1px #0e151d;
    padding-top: 45px;
    padding-bottom: 20px;
    color: #fdfdfd;
    font-size: 25px;
    text-align: center;
  }
  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__item {
    width: 25%;
    flex-grow: 1;
  }
}

.film {
  border-left: solid 0.5px #0e151d;
  border-right: solid 0.5px #0e151d;
  &__image {
    width: 100%;
  }
  &__thumnail {
    position: relative;
    padding-top: 56.25%;
    margin-bottom: 25px;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__score {
    text-align: center;
    color: #ffff4e;
    margin-bottom: 15px;
    .fa {
      margin-right: 4px;
    }
  }
  &__eng-name {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #ececec;
    margin-bottom: 5px;
  }
  &__vi-name {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #626b74;
    margin-bottom: 15px;
  }
  &__level {
    text-align: center;
    padding-bottom: 30px;
  }
  &__bookmark {
    color: #ffff00;
    position: absolute;
    left: 10px;
    top: -5;
  }
  &__overlay {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1); /* IE6-9 */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__episode {
    background-color: #cc3333;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;

  }
}

.section-blog {
  background: url('../images/backgroundPolygon.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#080f17, 0.8);
  }
  &__wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 35px;
    padding-bottom: 40px;
  }

  &__blog {
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
  }
  &__title {
    height: 52px;
    margin-bottom: 20px;
    color: #ff8d8d;
    font-size: 21px;
    line-height: calc(26 / 21);
    text-align: center;
  }
  &__description {
    color: #d5d5d5;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(26 / 18);
  }
}

.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  &__intro {
    color: #fdfdfd;
    font-size: 20px;
    font-weight: 400;
    line-height: calc(30 / 22);
  }
  &__contact {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 20px;

  }
  &__lisence {
    color: #c1c1c1;
    font-size: 20px;
    margin-top: 40px;
    font-weight: 400;
  }
}

.detail-page {
  position: relative;

  height: 100vh;
  &__overlay {
    z-index: -1;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    filter: blur(10px);
    &:after {
      top: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(#060b11, 0.9);
      content: "";
    }
  }
}

.film-title {
  padding-top: 120px;
  &__en-name {
    color: #ececec;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 5px;
  }
  &__vi-name {
    color: #626b74;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
  }
}
