@import "bourbon/bourbon";

$baseFontSize: 16;

$primaryColor: #16a085;
$secondaryColor: #f2f2f2;
$twitter: #2980b9;

@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}

body {
  font-size: #{$baseFontSize}px;
}


h1 {
  padding: .5rem 1rem;
  margin: .5rem .5rem 0 .5rem;

  border-left: rem(3) solid $primaryColor;

  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 130%;
}

.number {
  position: absolute;
  top: rem(35);
  left: rem(-20);

  color: $primaryColor;
  font-size: 2rem;
  font-family: Helvetiva, Arial, sans-serif;
}

.list {
  padding: .5rem 1rem;
  margin: .5rem .5rem 2rem .5rem;

  border-left: rem(3) solid $primaryColor;
}

.list__item {
  margin: 0 0 .5rem 0;
  padding: 0;
}

.label--checkbox,
.label--radio {
  position: relative;
  color: #666;
  margin: .5rem;

  font-family: Arial, sans-serif;
  line-height: 135%;

  font-size: 14px;
  cursor: pointer;
}

.checkbox {
  position: relative;
  top: rem(-6);

  margin: 0 1rem 0 0 ;

  cursor: pointer;

  &:before {
    @include transition(transform .4s cubic-bezier(.45,1.8,.5,.75));
    @include transform(rotate(-45deg) scale(0, 0));

    content: "";

    position: absolute;
    left: rem(3);
    top: rem(2);
    z-index: 1;

    width: rem(12);
    height: rem(6);

    border: 2px solid $primaryColor;
    border-top-style: none;
    border-right-style: none;
  }

  &:checked {
    &:before {
      @include transform(rotate(-45deg) scale(1, 1));
    }
  }

  &:after {
    content: "";

    position: absolute;
    top: rem(-2);
    left: 0;

    width: 1rem;
    height: 1rem;

    background: #fff;

    border: 2px solid $secondaryColor;

    cursor: pointer;
  }
}

.radio {
  position: relative;

  margin: 0 1rem 0 0 ;

  cursor: pointer;

  &:before {
    @include transition(transform .4s cubic-bezier(.45,1.8,.5,.75));
    @include transform(scale(0,0));

    content: "";

    position: absolute;
    top: 0;
    left: rem(2);
    z-index: 1;

    width: rem(12);
    height: rem(12);

    background: $primaryColor;

    border-radius: 50%;
  }

  &:checked {
    &:before {
      @include transform(scale(1,1));
    }
  }

  &:after {
    content: "";

    position: absolute;
    top: rem(-4);
    left: rem(-2);

    width: 1rem;
    height: 1rem;

    background: #fff;

    border: 2px solid $secondaryColor;
    border-radius: 50%;
  }
}

.footer {
  position: relative;
}

.btn {
  @include transition(background .3s ease-in-out);

  position: absolute;
  top: 0;
  right: 4.5rem;

  padding: .5rem;

  background: $primaryColor;

  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;

  &:hover {
    background: darken($primaryColor, 5%);
  }
}

.btn--twitter {
  right: 2rem;

  background: $twitter;

  &:hover {
    background: darken($twitter, 5%);
  }
}

.wrap-input{
  padding-bottom: 15px;
  text-align: left;
  &__title{
    padding: 15px;
    padding-left: 2px;
    color: #2C3E50;
    font-size: 14px;
  }
}